# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node dependencies
node_modules/

# Local databases
data/
*.db
*.db-shm
*.db-wal

# Environment Variables & Netlify Cache
.env
.env.*
!.env.example
.netlify/

